<h1>Post Form</h1>

<%= form_tag posts_path do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <%= label_tag :description %>
  <%= text_field_tag :description %>
  <%= submit_tag "Submit Post" %>
<% end %>